.header {
  display: flex;
  font-size: 18px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  background: rgb(29,29, 29);
}
.logo{
  font-weight: 800;
  font-size: 24px;
}
.tab{
  display: flex;
}
.item{
  padding: 0 8px;
}

.content {
  max-width: 700px;
  background: #444;
  min-height: 80%;
  margin: 0 auto;
  padding: 20px;
}